/* home css start */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Merriweather Sans", sans-serif;
  font-family: "Montserrat", sans-serif; */
}

nav.navbar {
  background: #ffffffbf;
}

nav.navbar a.nav-link {
  color: #604626;
}

.row.bg-img::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../inc/img/Guru\ Niwasa1.jpg");
  background-attachment: fixed;
  background-color: #fff;
  /* Set the background color to match the image's background */
  opacity: 0.2;
  /* Set the desired opacity */
  z-index: -1;
  /* Place the pseudo-element behind the content */
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
}

h1.main-title {
  position: relative;
  padding-top: 25%;
  color: #604626;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1em;
  padding-left: 10%;
  text-align: left;
}

h1.main-title span {
  font-size: 1.5rem;
  letter-spacing: 10px;
  color: #604626 !important;
  animation: none !important;
}

img.guruniwasa-logo {
  max-width: 70%;
  margin: 15% 0;
  border: 3rem solid burlywood;
}

.home-contact ul li {
  display: inline-block;
}

.hvr-wobble-skew.home-icon {
  border: none;
  width: auto;
  height: auto;
}

.post-img img {
  width: 100%;
  height: auto;
}

.navbar-nav,
.home-contact a,
.home-icon {
  color: #604626;
}

.nav-link.active {
  color: #352610;
}

.home-contact a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 3;
}

.home-contact a i {
  font-size: 1.5rem;
  color: #604626;
}

.home-contact .phone-icon {
  color: #fff;
  background: #604626;
  border-radius: 25px;
}

.home-contact .phone-icon a i.home-icon {
  color: #604626;
  padding: 10px;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #604226;
}

.phone-icon-boder {
  top: -3px;
  padding: 5px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #c9c9c9;
  line-height: 0;
}

.home-contact .whatsapp-icon {
  color: #fff;
  background: #00b731;
  border-radius: 25px;
}

.whatsapp-icon-border {
  top: -3px;
  padding: 30px;
  background: #fff;
  border-radius: 50px;
}

span.whatsapp-sub-border {
  padding: 5px;
  border: 1px solid #6c6565;
  border-radius: 30px;
  background: #fff;
  position: absolute;
}

span.whatsapp-sub-border {
  padding: 25px;
  border: 1px solid #6c6565;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-contact .whatsapp-icon a i.home-icon {
  color: #fff;
  padding: 12px;
  background: #00b731;
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-contact .phone-numbers {
  color: #fff;
  background: #444444;
  border-radius: 25px;
}

.home-contact a.home-icon {
  background: none;
}

section.home-carousel::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Terachers_Meeting/Guru_Niwasa_7.jpg");
  background-attachment: fixed;
  background-color: #fff;
  /* Set the background color to match the image's background */
  opacity: 0.2;
  /* Set the desired opacity */
  z-index: -1;
  /* Place the pseudo-element behind the content */
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

/* home css end */

/* gallery css start */

section#gallery::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Terachers_Meeting/Guru_Niwasa_7.jpg");
  background-attachment: fixed;
  background-color: #fff;
  /* Set the background color to match the image's background */
  opacity: 0.2;
  /* Set the desired opacity */
  z-index: -1;
  /* Place the pseudo-element behind the content */
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

/* gallery css end */


/* about us css start */


section#about-us::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Terachers_Meeting/Guru_Niwasa_7.jpg");
  background-attachment: fixed;
  background-color: #fff;
  /* Set the background color to match the image's background */
  opacity: 0.2;
  /* Set the desired opacity */
  z-index: -1;
  /* Place the pseudo-element behind the content */
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

h2.page-heading {
  color: #604626;
  letter-spacing: 2px;
}

.about-text-en p {
  color: #604626;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.about-text-sin p {
  color: #604626;
  font-size: 1rem;
  letter-spacing: 2px;
}

/* about us css end */


/* carousel css start */

.item {
  background: transparent;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  margin: 5px;
}

.owl-carousel .owl-item img.owl-lazy {
  opacity: 1;
}

.owl-nav span {
  font-size: 3rem;
  margin: 0 1.5rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #b1b1b1c9;
  color: #FFF;
  text-decoration: none;
}

/* carousel css end */

/* footer css start */

.footer-wrapper h4 {
  font-family: "Montserrat", sans-serif;
  color: #b3bbc1;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.footer1 p,
.footer2 p,
.footer3 ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
}

.Subscribe-form {
  border-bottom: 2px solid #ffffff7a;
  margin-bottom: 25px;
}

input:focus-visible {
  outline: none;
}

.footer4 input {
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 0;
  background-color: #0ff0;
  line-height: 2.5em;
  height: 30px;
  text-transform: none;
  font-size: 14px;
  width: 90%;
  color: #fff;
}

svg:not(:root).svg-inline--fa {
  font-size: 16px;
  color: #fff;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  font-size: 16px;
  color: #fff;
}

.footer-wrapper a:hover {
  color: #b3bbc1;
}

.hvr-wobble-skew:hover,
.hvr-wobble-skew:focus,
.hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

a.hvr-wobble-skew {
  border: 2px solid #cececefc;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

i.footer-icon {
  margin-top: 10px;
  font-size: 17px;
}

.footer-wrapper a {
  color: #fff;
}

a:hover {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.copyright-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  word-spacing: 1px;
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  letter-spacing: 1px;
}

.copyright-wrapper a {
  color: #000;
  font-weight: 500;
}

/* footer css end */

/* responsive css start */

@media screen and (max-width: 576) {}

@media screen and (max-width: 768) {}

@media screen and (max-width: 992px) {

  h1.main-title {
    padding-top: 10%;
    padding-left: 0;
    text-align: center;
  }

}

@media screen and (max-width: 1200px) {}

/* responsive css end */